{% extends "base.html" %}

{% block title %}Flask Boggle{% endblock %}

{% block content%}
<h1>Flask Boggle</h1>

<table>
        {% for row in board%}
        <tr>
            {% for cell in row %}
            <td>{{cell}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
</table>

<form action="/" method="post">
    <label for="guess">Words: </label>
    <input type="text" name="guess" id="user_guess" placeholder="Enter Words here">
    <button>Submit</button>
</form>

{% endblock %}